html, body {
    color: purple;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
}

#welcome { /* WelcomePage.js */
    /* background-image: url("../images/background.jpg"); */
    background-size: cover;
    background-position: center;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
}

#quote { /* WelcomePage.js */
    text-align: center;
    /* border: 6px solid yellow; */
    position: absolute;
    top: 30%;
    left: 50%;
    /* width: 1000px; */
    /* border: 3px solid yellow; */
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    text-shadow: -10px -10px 10px black,
                10px 10px 10px black;
}

#challenge { /* WelcomePage.js */
    text-align: center;
    /* border: 4px solid yellow; */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
}

a { /* WelcomePage.js */
    color: white;
}

a:hover { /* WelcomePage.js */
    color: turquoise;
}




.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
/* .timeline-container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background: purple;
}
.timeline-text-box {
    padding: 20px 30px;
    margin: 20px 30px;
    background: pink;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    color: red;
} */